@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Yeseva+One&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  background-image: url("../imgs/background.jpg");  
}

h1 {
  font-family: "Pacifico";
  font-size: 40px;
  text-decoration: underline;
  color: #6E260E;
  margin-left: 10px;
}

h2 {
  background-color: whitesmoke;
  font-family: "Roboto";
  text-align: center;
  font-size: 33px;
  border-top: 9px solid #6E260E;
  border-bottom: 9px solid #6E260E;
}

img {
  width: auto;
  height: 250px;
}

.introduction {
  font-weight: bold;
}

li {
  line-height: 50px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 2%;
}

ul {
  list-style-type:square
}

.ingredient-steps {
  text-align: center;
  text-decoration: underline;
  font-size: 28px;
  color: rgb(163, 0, 0);
}

p {
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.recipe {
  background-color: #e1b382;
  margin: 120px;
  outline: 27px solid #6E260E;
}

.image {
  text-align: center;
}