@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Quicksand:wght@500;700&display=swap');

body {
  background-color: #F8F3D4;
  margin: 0;
}

.title {
  font-size: 130px;
  margin: 210px 0 0 120px;
  border-top: #F6416C 15px double;
  display: inline-block;
  font-family: Arial, sans-serif;
  color: #3B3B3B;
}

.title-two {
  margin-left: 95px;
  color: white;
  background-color: #F6416C;
}

.recipes-card ul{
  margin: 120px 0 0;
  padding: 150px;
  background-color: #00B8A9;
  display: flex;
  justify-content: center;
  gap: 40px;
}

ul.recipes li{
  flex: 1;
  border: solid 5px #F6416C;
  background-color: #FFDE7D;
  padding: 12px;
  width: 300px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 150px;
  height: auto;
  border: #1A5D1A 10px double;
  border-radius: 55px;
  flex: 0 1 auto;
}

a {
  color: black;
  text-decoration: none;
  padding: 50px;
}

h3 {
  text-align: center;
  font-family: "Quicksand";
  font-size: 35px;
  margin: 10px 0 0;
}

p {
  font-family: sans-serif;
  font-size: 22px;
}

button {
  font-size: 25px;
  border: #6E260E 3px solid;
  font-family: 'Courier New', Courier, monospace;
  background-color: #e1b382;
  margin-top: auto;
}

button:hover {
  font-size: 25px;
  border-width: 5px;
}
